

<!-- navigation ################################### -->

<nav class="pushy pushy-right">
    <ul class="list-unstyled">
	    <li><a href="#">X</a></li>
	    <li class='current'><a class='current' href="index.html" data-scroll><%= t :home %></a></li>
        <li><a href="#why-code" data-scroll><%= t :why_code %></a></li>
        <li><a href="#how-it-works" data-scroll><%= t :how_it_works %></a></li>
        <li><a href="#about" data-scroll><%= t :about_us %></a></li>
        <li><a href="#contact" data-scroll><%= t :contact %></a></li>
        <li><%= link_to t(:sponsorship), sponsors_path %></li>
        <li><a href="#register" data-scroll><%= t :register %></a></li>
    </ul>
</nav>

<div class="site-overlay"></div>

<div id="container" class="animsition">

<header>
	<div class="container-fuid">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class="logo">
				<%= link_to root_path do %>
						<img src="/assets/wecodelogo.png" alt="WeCodeBCN" height="40px" width="auto">
				<% end %>
				</div>
			</div> <!-- end col-lg-6 -->
		
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
					
				<div class="menu-right">
					<a href="/en">en</a>
					<a href="/es">es</a>
					<a href="/ca">cat</a>
					<span class="menu-btn">&#9776;</span>
				</div>
			</div> <!-- end col-lg-6 -->
		</div> <!-- end row -->
	</div> <!-- end container-fuid -->
</header>

<!-- end navigation ################################### -->

<% flash.each do |key, msg| %>
  <%= content_tag :div, msg, id: key, class: 'flash-messages'%>
<% end %>

<!-- intro ################################### -->

<!-- <div id="intro"> -->
<div id="video">
	<!-- <div class="left-half"><h1>We </h1></div><div class="right-half"><h1>Code</h1></div> -->
	<iframe id="vimeoplayer" src="https://player.vimeo.com/video/133642731?color=ec1556&api=1&player_id=vimeoplayer" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div> <!-- end intro -->

<div class="text-intro">
	<div class="container">
		<p class="title"><%= t :coming_soon %></p>
		<p><%= t :intro_text %> </p>
		<div class="button-container"><a href="#register" class="btn btn-default btn-white"><%= t :register %></a></div>
	</div> <!-- end container -->
</div> <!-- end text intro -->

<!-- end intro ################################### -->



<!-- why-code ################################### -->

<div id="why-code">
	<div class="container">
		
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">1</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2> <%= t :why_code %> </h2>
			<p class="sub-header"> <%= t :why_code_subheader %> </p>
		</div> <!-- end section-header -->
		
		<div class="row">
		
			<div class="col-lg-4 col-md-4">
				<div class="news news-1">
					<a href="http://blog.ironhack.com/2015/01/10-reasons-learn-to-code-infographic/" target="blank">
						<div class="news-content">
							<p class="news-title"> <%= t :why_code_item1 %> </p>
							<p class="news-read-more"> <%= t :read_more %></p>
						</div> <!-- news-content -->
					</a>
				</div> <!-- end news -->
			</div> <!-- end col-lg-4 -->
			
			<div class="col-lg-4 col-md-4">
				<div class="news news-2">
					<a href="http://blog.ironhack.com/2013/11/start-learning-how-to-code-now-for-free/" target="blank">
						<div class="news-content">
							<p class="news-title"> <%= t :why_code_item2 %> </p>
							<p class="news-read-more"><%= t :read_more %></p>
						</div> <!-- news-content -->
					</a>
				</div> <!-- end news -->
			</div> <!-- end col-lg-4 -->
			
			<div class="col-lg-4 col-md-4">
				<div class="news news-3">
					<a href="http://blog.ironhack.com/2015/03/study-abroad-and-code-in-spain/" target="blank">
						<div class="news-content">
							<p class="news-title"> <%= t :why_code_item3 %>  </p>
							<p class="news-read-more"><%= t :read_more %></p>
						</div> <!-- news-content -->
					</a>
				</div> <!-- end news -->
			</div> <!-- end col-lg-4 -->
			
		</div> <!-- end row -->
	</div> <!-- end container -->
</div> <!-- end why-code -->

<!-- end latest news -->



<!-- How it works ################################### -->

<div id="how-it-works">
	<div class="container">
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">2</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2><%= t :how_it_works %></h2>
			<p class="sub-header"> <%= t :how_it_works_subheader %> </p>
		</div> <!-- end section-header -->
		
		<div class="row">
			
			<div class="col-lg-6 col-md-6">
				<div class="service-type">
					<p class="service-type-title"><%= t :how_it_works_item1_title %></p>
					<p class="service-type-text"> <%= t :how_it_works_item1_description %></p>
					
					<ul class="right-list list-unstyled">
						<li><%= t :how_it_works_item1_bullet1 %></li>
						<li><%= t :how_it_works_item1_bullet2 %></li>
					</ul>
					<div class="service-type-number">01</div>
				</div>
			</div> <!-- end col-lg-6 -->
			
			<div class="col-lg-6 col-md-6">
				<div class="service-type">
					<p class="service-type-title"><%= t :how_it_works_item2_title %></p>
					<p class="service-type-text"> <%= t :how_it_works_item2_description %> </p>
					
					<ul class="right-list list-unstyled">
						<li><%= t :how_it_works_item2_bullet1 %></li>
						<li><%= t :how_it_works_item2_bullet2 %></li>
					</ul>
					<div class="service-type-number">02</div>
				</div>
			</div> <!-- end col-lg-6 -->
			
			<div class="col-lg-6 col-md-6">
				<div class="service-type">
					<p class="service-type-title"><%= t :how_it_works_item3_title %></p>
					<p class="service-type-text"> <%= t :how_it_works_item3_description %> </p>
					
					<ul class="right-list list-unstyled">
						<li><%= t :how_it_works_item3_bullet1 %></li>
						<li><%= t :how_it_works_item3_bullet2 %></li>
					</ul>
					<div class="service-type-number">03</div>
				</div>
			</div> <!-- end col-lg-6 -->
			
			<div class="col-lg-6 col-md-6">
				<div class="service-type">
					<p class="service-type-title"><%= t :how_it_works_item4_title %></p>
					<p class="service-type-text"> <%= t :how_it_works_item4_description %> </p>
					
					<ul class="right-list list-unstyled">
						<li><%= t :how_it_works_item4_bullet1 %></li>
						<li><%= t :how_it_works_item4_bullet2 %></li>
					</ul>
					<div class="service-type-number">04</div>
				</div>
			</div> <!-- end col-lg-6 -->
			
		</div> <!-- end row -->
		
		
		<div class="process">
			<div class="row">
				<div class="col-lg-12">
				
					<h3><%= t :schedule %></h3>
					<p class="sub-header-small"> <%= t :schedule_subheader %></p>
					
					<ul class="process-list list-unstyled list-inline">
						<li class="admin-time">
							<p> <%= t :schedule_item1 %></p>
						</li>
						
						<li class="class-time">
							<p><%= t :schedule_item2 %></p>
						</li>
						
						<li class="coding-time">
							<p> <%= t :schedule_item3 %></p>
						</li>
						
						<li class="admin-time">
							<p><%= t :schedule_item4 %></p>
						</li>
						<li class="coding-time">
							<p><%= t :schedule_item5 %></p>
						</li>
						<li class="class-time">
							<p><%= t :schedule_item6 %></p>
						</li>
						<li class="pitch-time">
							<p><%= t :schedule_item7 %> </p>
						</li>
						<li class="admin-time">
							<p><%= t :schedule_item8 %> </p>
						</li>

					</ul>
					
					<div class="process-image"></div>
				
				</div> <!-- end col-lg-12 -->
			</div> <!-- end row -->
		</div> <!-- end process -->
		
	</div> <!-- end container -->
</div> <!-- end how it works -->

<!-- end how it works ################################### -->


<!-- separator 1 ################################### -->

<div id="separator-1">
	<p class="separator-title"><%= t :interested %></p>
	<p class="separator-text"> <%= t :call_to_action %> </p>
	<div class="button-container"><a href="#contact" class="btn btn-default btn-white"><%= t :call_to_action_button %></a></div>
</div>

<!-- end separator 1 ################################### -->



<!-- Work ################################### -->
	
<!-- <div id="work">
	<div class="container-fluid">
		
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">3</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2>Project Briefs</h2>
			<p class="sub-header">Take a peek at the real-world projects we will be working on.</p>
		</div> 
		
		<div class="show-me">show me:</div>
		<ul class="filter-list list-inline list-unstyled">
			<li class="filter" data-filter="all">all</li>
			<li class="filter" data-filter=".category-1">web</li>
			<li class="filter" data-filter=".category-2">print</li>
			<li class="filter" data-filter=".category-3">video</li>
		</ul>
		
		<div id="work-container">
			
			<ul class="work-grid">
				<li class="mix category-1" data-myorder="2">
					<a href="single-project.html">
						<img src="images/work-small-1.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-2" data-myorder="4">
					<a href="single-project.html">
						<img src="images/work-small-2.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-1" data-myorder="1">
					<a href="single-project.html">
						<img src="images/work-small-4.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-3" data-myorder="8">
					<a href="single-project.html">
						<img src="images/work-small-5.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-2" data-myorder="8">
					<a href="single-project.html">
						<img src="images/work-small-3.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
				
				<li class="mix category-3" data-myorder="8">
					<a href="single-project.html">
						<img src="images/work-small-6.jpg" alt="" />
						<div><h3>view project</h3></div>
					</a>
				</li>
			</ul>

		</div> 
		
	</div> 
</div>  -->

<!-- end work #################################### -->



<!-- about ################################### -->

<div id="about">
	<div class="container">
			<div class="section-header">
				<span class="section-header-line"></span><p class="header-number">4</p><span class="section-header-line"></span>
				<div class="hexagon"></div>
				<h2><%= t :about_us %></h2>
				<p class="sub-header"> <%= t :about_us_subheader %> </p>
			</div> <!-- end section-header -->
	
	
		
		<div class="row">
			<div class="about-info">
			
				<!-- <div class="col-lg-6 col-md-6">
					<img src="mob.png" class="img-responsive" alt="" />
				</div> --> <!-- end col-lg-6 -->
				
				<div class="col-lg-6 col-md-6">
					<span class="org-logo"><img src="white_logo_ironhack.png"></span><h4><%= t :ironhack %></h4>
					<p> <%= t :ironhack_description %></p>
					<ul class="list-unstyled list-inline text-left">
							<li><a href="http://ironhack.com/" target="blank"><i class="fa fa-link"></i></a></li>
							<li><a href="https://twitter.com/ironhack" target="blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/theironhack" target="blank"><i class="fa fa-facebook"></i></a></li>
					</ul>

				</div>
					
				<div class="col-lg-6 col-md-6">
					<span class="org-logo"><img src="MOB-logo-white-02.png"></span><h4><%= t :mob %></h4>
					<p><%= t :mob_description %> </p>
					<ul class="list-unstyled list-inline text-left">
							<li><a href="http://www.mob-barcelona.com/" target="blank"><i class="fa fa-link"></i></a></li>
							<li><a href="https://twitter.com/MOB_BCN" target="blank"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/MOB.BCN" target="blank"><i class="fa fa-facebook"></i></a></li>
					</ul>
					
				</div> <!-- end col-lg-6 -->
			
			</div> <!-- end about-info -->
		</div> <!-- end row -->
		
	</div> <!-- end container -->
</div> <!-- end about -->

<!-- end about ################################### -->



<!-- sponsors ################################### -->

<div class="sponsors">
	<div class="container">
		<h3 style="margin-bottom: 40px;"><%= t :sponsors %></h3>
		<p class="sub-header"> <%= t :sponsors_subheader %> <br><br>
		<%= link_to t(:more_info), sponsors_path, class: "btn btn-default"%>
		</p>

		
		<div class="row">
			
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h4 class="text-right"><%= t :ironhack %></h4>
						<p class="text-right"><!-- add text here --></p>
						<ul class="list-unstyled list-inline text-right">
							<li><a href="https://twitter.com/ironhack"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/theironhack"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://instagram.com/theironhack/"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img src="blue_logo_png.png" class="img-responsive" alt="" />
					</div> <!-- end col-lg-4 -->
				</div>	 
			</div> <!-- end col-lg-6 -->
			
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img src="MOB-logo-colour-01.png" class="img-responsive" alt="" />
					</div> <!-- end col-lg-4 -->
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<h4><%= t :mob %></h4>
						<p><!-- add text here --></p>
						<ul class="list-unstyled list-inline">
							<li><a href="https://twitter.com/MOB_BCN"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/MOB.BCN"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://instagram.com/mob_bcn/"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div> <!-- end col-lg-8 -->
				</div>	 
			</div> <!-- end col-lg-6 -->
			

		</div> <!-- end row -->
	</div> <!-- end container -->
</div> <!-- end sponsors -->

<!-- end sponsors ################################### -->


<!-- contact us ################################### -->

<div id="contact">

			<p class="separator-title"><%= t :contact_us %></p>
			<ul class="contact-info-list list-unstyled list-inline">
				<li>
					<p class="contact-info-title"><%= t :email %></p>
					<p><a class="contact-info-text" href="mailto:hi@ironhack.com" target="blank"><%= t :ironhack_email %></a></p>
				</li>
				
				<li>
					<p class="contact-info-title"><%= t :twitter %></p>
					<p><a class="contact-info-text" href="https://twitter.com/ironhack" target="blank"><%= t :ironhack_twitter %></a></p>
				</li>
				
				<li>
					<p class="contact-info-title"><%= t :visit %></p>
					<p><a class="contact-info-text" href="https://www.google.es/maps/place/MOB+(Makers+Of+Barcelona)/@41.391829,2.177191,17z/data=!3m1!4b1!4m2!3m1!1s0x12a4a2e4de683851:0xb8914736ff97cfb6?hl=en" target="blank"><%= t :ironhack_address1 %><br/><%= t :ironhack_address2 %></a></p>
				</li>
			</ul>
</div>

<!-- end contact-us ################################### -->



<!-- contact ################################### -->
<div id="register">
	<div class="container">
		
		<div class="section-header">
			<span class="section-header-line"></span><p class="header-number">5</p><span class="section-header-line"></span>
			<div class="hexagon"></div>
			<h2><%= t :register %></h2>
			<p class="sub-header"> <%= t :register_subheader %></p>
		</div> <!-- end section-header -->
		

			<div class="row">
				<!-- registration form begins -->
	            <div class="form-container" id="register-form">
	            		<%= form_for @applicant, remote: "true", html: {class: "form", id: "regform"} do |f| %>

                        <div class="col-lg-12">
	                        <!-- begin name input element -->
                            <div class="register-form-spacer form-group">
                              	<%= f.text_field :name, {required: true, class: "form-control", placeholder: "#{t :register_name}", data: {error: "#{t :register_name_hint}"}} %>
                              	<%= content_tag("div", nil, class: ["help-block", "with-errors"]) %>
                            </div>
	                        <!-- end name input element -->
                        </div> <!-- end col-lg-12 -->
		                    
		                    <div class="col-lg-12">
		                        <!-- begin email input element -->
	                            <div class="register-form-spacer form-group">
	                          			<%= f.text_field :email, {required: true, class: "form-control", placeholder: "#{t :register_email}", data: {error: "#{t :register_email_hint}"}} %>
	                          			<%= content_tag("div", nil, class: ["help-block", "with-errors"]) %>
	                            </div>
		                        <!-- end email input element -->
		                    </div> <!-- end col-lg-12 -->

		                    <div class="col-lg-12">
		                        <!-- begin age input element -->
		                            <div class="register-form-spacer form-group">
		                            		<%= label_tag :age, "#{t :register_age}", class: "form-label" %>
		                            		<%= f.select :age, [["#{t :register_choose}", "#{t :register_choose}"], ["#{t :register_age_item1}", "#{t :register_age_item1}"], ["#{t :register_age_item2}", "#{t :register_age_item2}"], ["#{t :register_age_item3}", "#{t :register_age_item3}"], ["#{t :register_age_item4}", "#{t :register_age_item4}"], ["#{t :register_age_item5}", "#{t :register_age_item5}"]], {}, {class: "form-control"} %>
		                            </div>
		                        <!-- end age input element -->
		                    </div> <!-- end col-lg-6 -->

		                    <div class="col-lg-12">
		                        <!-- begin gender input element -->
		                            <div class="register-form-spacer form-group">
		                            		<%= label_tag :gender, "#{t :register_gender}", class: "form-label" %>
		                            		<%= f.select :gender, [["#{t :register_choose}", "#{t :register_choose}"], ["#{ t :register_gender_item1}", "#{ t :register_gender_item1}"], ["#{ t :register_gender_item2}", "#{ t :register_gender_item2}"], ["#{ t :register_gender_item3}", "#{ t :register_gender_item3}"]], {}, {class: "form-control"} %>
		                            </div>
		                        <!-- end gender input element -->
		                    </div> <!-- end col-lg-6 -->

		                    <div class="col-lg-12">
		                        <!-- begin interest input element -->
		                            <div class="register-form-spacer form-group">
		                            		<%= label_tag :interest, "#{t :register_interest}", class: "form-label" %>
		                            		<%= f.select :interest, [["#{t :register_choose}", "#{t :register_choose}"], ["#{t :register_interest_item1}", "#{t :register_interest_item1}"], ["#{t :register_interest_item2}", "#{t :register_interest_item2}"], ["#{t :register_interest_item3}", "#{t :register_interest_item3}"], ["#{t :register_interest_item4}", "#{t :register_interest_item4}"], ["#{t :register_interest_item5}", "#{t :register_interest_item5}"]], {}, {required: true, class: "form-control", data: {error: "#{t :register_data_error}"}} %>
	                                  <%= content_tag("div", nil, class: ["help-block", "with-errors"]) %>
		                            </div>
		                        <!-- end age input element -->
		                    </div> <!-- end col-lg-6 -->
		                    
		                    <div class="col-lg-12">
			                    <!-- begin Interest element -->
			                        <div class="register-form-spacer form-group">
			                        		<%= f.text_area :background, {required: true, class: "form-control", placeholder: "#{t :register_background}", data: {error: "#{t :register_data_error}"}} %>
			                        		<%= content_tag("div", nil, class: ["help-block", "with-errors"]) %>
			                        </div>
	                      </div>
	                      
		                        <!-- end Interest element -->
		                        
		                    <div class="col-lg-6 register">
		                    	<div class="register-form-spacer text-center">
		                    		<%= f.check_box :newsletter, {class: "register-checkbox"} %>
		                    		<%= label_tag :newsletter, "#{t :newsletter_ih}" %>
		                    	</div>
		                    </div>

		                    <div class="col-lg-6 register">
		                    	<div class="register-form-spacer text-center">
		                    		<%= f.check_box :newsletter, {class: "register-checkbox"} %>
		                    		<%= label_tag :newsletter, "#{t :newsletter_mob}" %>
		                    	</div>
		                    </div>
		                  
                        <!-- begin Submit button -->
                        		<div class="text-center">
                        				<%= f.submit "Send", {class: "btn btn-default submit-btn"} %>
                            </div>

                        <!-- end Submit button -->
                    <% end %>
	                       <!-- </div> -->
              </div> <!-- </form-container> -->
	                
				<!-- register form ends -->

					<!-- confirmation modal -->
				<div class="modal fade" id="success-modal">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title"><%= t :confirmation_thankyou %></h4>
				      </div>
				      <div class="modal-body">
				        <p><%= t :confirmation_message %></p>
				        <p><%= t :confirmation_message2 %></p>
				        <!-- social share buttons -->
				        <ul class="list-unstyled list-inline">
				        	<li>
					        	<a href=<%= "#{ t :share_email }" %>>
						        	<button class="btn btn-email"><i class="fa fa-envelope"></i><%= t :email %></button>
					        	</a>
				        	</li>
				        	<li>
					        	<a href="https://www.facebook.com/sharer/sharer.php?u=https://todaywecode.org/" target="_blank">
						        	<button class="btn btn-fb"><i class="fa fa-facebook"></i><%= t :facebook %></button>
					        	</a>
				        	</li>
				        	<li>
					        	<a href=<%= "#{t :share_twitter }" %> target="_blank">
						        	<button class="btn btn-twitter"><i class="fa fa-twitter"></i><%= t :twitter %></button>
					        	</a>
				        	</li>
				        </ul>

				        <!-- end social share buttons -->		      
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t :close %></button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<!-- error modal -->
				<div class="modal fade" id="error-modal">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title"><%= t :confirmation_fail_title %></h4>
				      </div>
				      <div class="modal-body">
				        <p><%= t :confirmation_fail_body %></p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t :close %></button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

			</div> <!-- end row -->

	</div> <!-- end container -->
</div>
</div>
</div>
</div>
</div> <!-- end registration -->


<!-- end contact ################################### -->


<p class="copyright"> Copyright 2015 Ironhack</p>

</div> <!-- end #container & animsition -->

