<!-- navigation ################################### -->

<nav class="pushy pushy-right">
    <ul class="list-unstyled">
      <li><a href="#">X</a></li>
      <li class='current'>
        <%= link_to t(:home), root_path, class: "current" %>
      </li>
    </ul>
</nav>

<div class="site-overlay"></div>

<div id="container" class="animsition">

<header>
  <div class="container-fuid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="logo">
          <a href="#intro" data-scroll>
            <img src="/assets/wecodelogo.png" alt="WeCodeBCN" height="40px" width="auto">
          </a>
        </div>
      </div> <!-- end col-lg-6 -->
    
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          
        <div class="menu-right">
          <%= link_to "en", :locale=>'en'%>
          <%= link_to "es", :locale=>'es'%>
          <%= link_to "cat", :locale=>'ca'%>
          <span class="menu-btn">&#9776;</span>
        </div>
      </div> <!-- end col-lg-6 -->
    </div> <!-- end row -->
  </div> <!-- end container-fuid -->
</header>

<!-- end navigation ################################### -->

<!-- sponsorship ################################### -->

  <div class="text-intro sponsors-intro">
    <div class="container">
      <p class="title"><%= t :sponsorship %></p>
      <p> <%= t :sponsorship_introduction %>   </p>
      <div class="button-container"><a href="mailto:sharon@ironhack.com" class="btn btn-default btn-white"><%= t :contact_us %></a></div>
    </div> <!-- end container -->
  </div> <!-- end text intro -->

  <div class="cover">
    <iframe src="https://docs.google.com/presentation/d/16rJQIbU577S8b4g8b8pqg__BanOGXIpkC8RMTJsZQuQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

<p class="copyright"> Copyright 2015 Ironhack</p>

</div> <!-- end #container & animsition -->