<!-- navigation ################################### -->

<nav class="pushy pushy-right">
    <ul class="list-unstyled">
      <li><a href="#">X</a></li>
      <li class='current'><a class='current' href="index.html" data-scroll><%= t :home %></a></li>
        <li><a href="#why-code" data-scroll><%= t :why_code %></a></li>
        <li><a href="#how-it-works" data-scroll><%= t :how_it_works %></a></li>
        <li><a href="#about" data-scroll><%= t :about_us %></a></li>
        <li><a href="#contact" data-scroll><%= t :contact %></a></li>
        <li><a href="#register" data-scroll><%= t :register %></a></li>
    </ul>
</nav>

<div class="site-overlay"></div>

<div id="container" class="animsition">

<header>
  <div class="container-fuid">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="logo">
          <a href="#intro" data-scroll>
            <img src="/assets/wecodelogo.png" alt="WeCodeBCN" height="40px" width="auto">
          </a>
        </div>
      </div> <!-- end col-lg-6 -->
    
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          
        <div class="menu-right">
          <a href="/en">en</a>
          <a href="/es">es</a>
          <a href="/ca">cat</a>
          <span class="menu-btn">&#9776;</span>
        </div>
      </div> <!-- end col-lg-6 -->
    </div> <!-- end row -->
  </div> <!-- end container-fuid -->
</header>

<!-- end navigation ################################### -->

<!-- sponsorship ################################### -->

  <div class="text-intro sponsors-intro">
    <div class="container">
      <p class="title"><%= t :sponsorship %></p>
      <p> <%= t :sponsorship_introduction %>   </p>
      <div class="button-container"><a href="mailto:sharon@ironhack.com" class="btn btn-default btn-white"><%= t :contact_us %></a></div>
    </div> <!-- end container -->
  </div> <!-- end text intro -->

  <div class="cover">
    <iframe src="https://docs.google.com/presentation/d/16rJQIbU577S8b4g8b8pqg__BanOGXIpkC8RMTJsZQuQ/embed?start=false&loop=false&delayms=3000" frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>

<p class="copyright"> Copyright 2015 Ironhack</p>

</div> <!-- end #container & animsition -->